.result-search-field {
    margin-right: -38;
}

.result-search-icon {
    margin-right: 10;
    height: 30;
}

.results {
    margin: 5;
    border-color: white;
}

.word-result-style {
    margin-top: 20;
    text-transform: capitalize;    
    font-size: 16;
    font-weight: 600;
    color: black;
}

.origin-result-style {
    font-style: italic;
    color:#425a3d;
}

.meaning-result-style {
    color: #262626;
}
