<StackLayout>

    <ActionBar>
        <NavigationButton text="{{ 'result.go.back.button' | translate }}" android.systemIcon="ic_menu_back" (tap)="goToSearch()"></NavigationButton>
        <Label text="{{ 'app.title' | translate }}" class="title-text"></Label>
        <ActionItem (tap)="switchLanguage()" ios.position="popup" android.position="right">
                <Button text="{{ 'translate.button.name' | translate }}" class="action-button-lang-change"></Button>
        </ActionItem>
    </ActionBar>

    <GridLayout rows="auto, 0" columns="10*, *">
            <TextField row="0" col="0" class="result-search-field" hint="{{ 'search.input.placeholder' | translate }}" autocorrect="false" autocapitalizationType="none" [(ngModel)]="searchWord" (returnPress)="search()" returnKeyType="search"></TextField>
            <Image row="0" col="10" class="result-search-icon" src="~/images/search-icon.png" (tap)="search()"></Image>           
    </GridLayout>

    <ListView [items]="vokabularList" row="1" class="results" [class.visible]="listLoaded" separatorColor="white">
        <ng-template let-item="item">
            <StackLayout>
                <Label [text]="item.word" class="word-result-style"></Label>
                <Label [text]="item.origin" class="origin-result-style"></Label>
                <Label [text]="item.meaning" textWrap="true" class="meaning-result-style"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1"
        horizontalAlignment="center" verticalAlignment="center" size="large" color="#485e44"></ActivityIndicator>

</StackLayout>