@import 'nativescript-theme-core/css/core.light.css';

Page {
    background-color: white;
    font-size: 15;
}
  TextField {
    padding: 10;
    font-size: 13;
  }

  TextField {
    border-width: 1;
    border-color: #425a3d;
  }

.title-text {
    vertical-align: center;
    font-weight: 900;
    font-size: 19;
    color:#425a3d;
}

.action-button-lang-change {
  color:#425a3d;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
  /* border-radius: 20px;
  width: 110px;
  height: 50px;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-right: 100px; */
}
