StackLayout {
    margin-top: 100;
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    background-color: white;
  }
  Image {
    margin-top: 5;
    margin-bottom: 20;
  }
  TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
  }
  .submit-button {
    background-color: #425a3d;
    margin-top: 5;
    color: white;
    margin-left: 12;
    margin-right: 12;
  }