<StackLayout>

    <ActionBar>
        <Label text="{{ 'app.title' | translate }}" class="title-text"></Label>
        <ActionItem (tap)="switchLanguage()" ios.position="popup" android.position="right">
            <Button text="{{ 'translate.button.name' | translate }}" class="action-button-lang-change"></Button>
        </ActionItem>
    </ActionBar>

    <Image *ngIf="this.translate.currentLang == 'sr-lat'" src="~/images/vokabular_logo_lat.gif" width="180" horizontalAlignment="center" item-width="300"></Image>
    <Image *ngIf="this.translate.currentLang == 'sr-cir'" src="~/images/vokabular_logo_cir.gif" width="180" horizontalAlignment="center" item-width="300"></Image>
    <TextField hint="{{ 'search.input.placeholder' | translate }}" autocorrect="false" autocapitalizationType="none" [(ngModel)]="searchWord" (returnPress)="search()" returnKeyType="search"></TextField>
    <Button text="{{ 'search.button' | translate }}" (tap)="search()" class="submit-button"></Button>

</StackLayout>